{% extends 'main.html' %} {% block content %}
{% load static %}

<div class="p-5 my-5 mx-auto ">
  <div class="d-flex flex-column  mx-auto">
    <!-- heading text -->
    <h1 class="display1 text-white text-center text-uppercase mt-4 mb-4">
      My
      Projects</h1>

 
    <div class="row p-1  overflow-auto  ">

      <!-- item 1 -->
      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/staff-adviser.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Staff Adviser</h5>
            <p class="card-text fs-5">An Appointment Scheduling App</p>
            <a href='https://staff-adviser.vercel.app/' class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

      <!-- item 2 -->
      <div class=" d-flex justify-content-center col-md-4   my-2">
        <div class="card " style="width: 18rem; height: 20rem">
          <img src="{% static './images/pathtoeden.jpeg' %}" class="card-img-top h-50 img-fluid" alt="">
          <div class="card-body">
            <h5 class="card-title">WavvySavvy</h5>
            <p class="card-text fs-5">A music Streaming App</p>
            <a href='https://wavvysavvy.vercel.app' class="btn btn-secondary m-0">Visit</a>
          </div>
        </div>
      </div>

      <!-- item 3 -->
      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/flexbook.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Facebook UI</h5>
            <p class="card-text fs-5">A real clone of facebook.</p>
            <a href='https://flexbook.onrender.com' class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

      <!-- item 4 -->
      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/IOT.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Internet Of Things </h5>
            <p class="card-text fs-5">Smart Devices for homes...
            </p>
            <a href="https://internet-of-things.onrender.com/" class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

      <!-- item 5 -->
      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/THRIVE.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Thrive Insurance Brokers Limited</h5>
            <p class="card-text fs-5"> An insurance website</p>
            <a href="https://thrivebackend.vercel.app" class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

      <!-- item 6 -->
      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/telemedical.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Telemedical Hub</h5>
            <p class="card-text"> A webapp for telemedical services
            </p>
            <a href="https://telemedical-hub.onrender.com" class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

      <!-- item 7 -->

      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/taskscheduler.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Task Scheduler</h5>
            <p class="card-text fs-5"> Professional Todo App
            </p>
            <a href="https://taskscheduler.onrender.com/" class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

        <!-- item 8 -->

      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/albinism.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Albinism AI </h5>
            <p class="card-text fs-5"> ALbinism predicting app for a population
            </p>
            <a href="https://albinism-ai.onrender.com/" class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

    <!-- item 9 -->

      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/shield.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sheild Finance  </h5>
            <p class="card-text fs-5"> A simple bank app 
            </p>
            <a href="https://sheidfinance.onrender.com/" class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

       <!-- item 10 -->

      <div class="d-flex justify-content-center col-md-4   my-2">
        <div class="card" style="width: 18rem; height: 20rem">
          <img src="{% static './images/cis.png' %}" class="card-img-top h-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">CIS  </h5>
            <p class="card-text fs-5"> A ciminal records app
            </p>
            <a href="https://cis-5taw.onrender.com/" class="btn btn-secondary mb-0">Visit</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<br>
<br>

</div>

{% endblock content %}
